<p id="notice"><%= notice %></p>

<h1>Chats</h1>

<div id="chat_container">
      <form v-on:submit.prevent="insertNewChat($event)">
        <input type="text" id="new_chat_form" v-model="chatFormParam">
      </form>

      <table>
        <thead>
        <tr>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody v-for="(chat, index) in chats">
        <tr>
          <td>{{ chat.body }}</td>
        </tr>
        </tbody>
      </table>
      <br>
</div>
